@mixin init-al-auth($sel) {

  #{$sel}__inner {
    display: flex;
    flex-direction: column;
  }

  #{$sel}__title {
    font-size: 32rpx;
    margin-bottom: 30rpx;
    text-align: center;
  }

  #{$sel}__button {
    background: #21C57C;
    box-shadow: 0px 10rpx 30rpx 0px rgba(58, 252, 166, 0.44);
    border-radius: 10rpx;
    color: #fff;

    font-size: 28rpx;
  }
}
