/* 注意，父元素需要固定高度，z-paging的height:100%才会生效 */
page {
  height: 100%;
}

.container {
  font-size: 14px;
  line-height: 24px;
  height: 100%;
}

.index-demo-item {
  height: 150upx;
}

.swiper {
  height: 300rpx;
}
.swiper-item {
  display: block;
  height: 300rpx;
  line-height: 300rpx;
  text-align: center;
}