////
/// This is css grid init lib
/// @group app
////

/// app tabbar height
$tabbarHeight: 100rpx;


/// app common padding h
$commonPaddingH: 30upx;

/// app common padding
$commonPadding: 0 $commonPaddingH;

