////
/// This is css grid init lib
/// @group app
////

/// app tabbar height
$tabbarHeight: 100rpx;


/// app common padding h
$commonPaddingH: 30upx;

/// app common padding
$commonPadding: 0 $commonPaddingH;


@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin aspect-ratio($w, $h) {
  &::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: $w / $h * 100%;
  }
  &::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
  }
}

@import "components/al-auth";

