////
/// This is css grid init lib
/// @group app
////

/// full height
.ui-h-full {
  height: 100%;
}

/// full width
.ui-w-full {
  width: 100%;
}

/// display block
.ui-block {
  display: block;
}
