@import "alh";

////
/// This is css grid init lib
/// @group app
////

/// full height
.ui-h-full {
  height: 100%;
}

/// full width
.ui-w-full {
  width: 100%;
}

/// display block
.ui-block {
  display: block;
}

/// margin
@for $i from 1 through  3 {
  $v: $i * 10;
  .ui-m-t-#{$v} {
    margin-top: #{$v}rpx;
  }
  .ui-m-b-#{$v} {
    margin-bottom: #{$v}rpx;
  }
}

.ui-pd-common-h {
  padding-left: $commonPaddingH;
  padding-right: $commonPaddingH;
}
