////
/// This is css grid init lib
/// @group app
////

// 处理scrollbar滚动条
.uni-scroll-view::-webkit-scrollbar {
  width:0;
  height:0;
  color:transparent;
}

/* #ifndef APP-NVUE */
::-webkit-scrollbar {
  display: none;
}
/* #endif */

/* #ifdef H5 */
// 通过样式穿透，隐藏H5下，scroll-view下的滚动条
scroll-view ::v-deep ::-webkit-scrollbar {
  display: none;
}
/* #endif */
